{% extends 'base/base.html' %}
<!-- Se cargan los estáticos-->
{% load static %}
<!-- Se importa el título-->
{%block tittle %} Administrar Empleados {% endblock tittle %}
<!-- Se importa el body-->
{% block body %}
<!-- Se incluye el menú -->
{% include 'conmon/nav.html'%}
<!-- Inicio Bloque contenedor-->
<div class="ContainerAdministrarTodosLosEmpleados">
  <!-- Inicio Bloque contenedor título-->
  <div class="ContainerAdministrarTodosLosEmpleadosTitulo">
    <h1>Lista de empleados</h1>
  </div>
  <!-- Fin Bloque contenedor título-->
  <!-- Inicio Bloque contenedor data-->
  <!-- Inicio Bloque formualrio data-->
  <form action="" method="GET">
    <div class="ContainerAdministrarTodosLosEmpleadosBuscador">
      {% csrf_token %}
      <button
        type="submit"
        class="ContainerAdministrarTodosLosEmpleadosBuscadorEspacio"
      >
        Buscar
      </button>
      <input
        class="ContainerAdministrarTodosLosEmpleadosBuscadorEspacio"
        type="text"
        placeholder="Buscar Empleado"
        name="kword"
        id="kword"
      />
    </div>
  </form>
  <!-- Fin Bloque formualrio data-->
  <!-- Inicio Bloque Lista Empleados data-->
  <div class="ContainerAdministrarTodosLosEmpleadosDatos">
    <table class="ContainerAdministrarTodosLosEmpleadosDatosTable">
      <thead class="ContainerAdministrarTodosLosEmpleadosDatosTableHead">
        <tr class="ContainerAdministrarTodosLosEmpleadosDatosTableHeadList">
          <th
            class="ContainerAdministrarTodosLosEmpleadosDatosTableHeadListItem"
          >
            ID
          </th>
          <th
            class="ContainerAdministrarTodosLosEmpleadosDatosTableHeadListItem"
          >
            Apellidos
          </th>
          <th
            class="ContainerAdministrarTodosLosEmpleadosDatosTableHeadListItem"
          >
            Nombres
          </th>
          <th
            class="ContainerAdministrarTodosLosEmpleadosDatosTableHeadListItem"
          >
            Departamento
          </th>
          <th
            class="ContainerAdministrarTodosLosEmpleadosDatosTableHeadListItem"
          >
            Acción
          </th>
        </tr>
      </thead>
      <tbody class="ContainerAdministrarTodosLosEmpleadosDatosTableBody">
        {% for employ in lista_empleados %}
        <tr class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyList">
          <td
            class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItem"
          >
            {{ employ.id }}
          </td>
          <td
            class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItem"
          >
            {{ employ.name }}
          </td>
          <td
            class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItem"
          >
            {{ employ.lastname }}
          </td>
          <td
            class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItem"
          >
            {{ employ.department }}
          </td>
          <td
            class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItem"
          >
            <a
              class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItemLinkVer"
              href="{% url 'employer_app:DetallesDelEmpleado' employ.id  %}"
              >Ver</a
            ><a
              class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItemLinkEditar"
              href="{% url 'employer_app:ActualizarEmpleado' employ.id  %}"
              >Editar</a
            ><a
              class="ContainerAdministrarTodosLosEmpleadosDatosTableBodyListItemLinkEliminar"
              href="{% url 'employer_app:EliminarEmpleado' employ.id  %}"
              >Eliminar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Fin Bloque Lista Empleados data-->
  <!-- Inicio Bloque Paginador data-->
  <div>
    {% if is_paginated %}
    <ul class="pagination">
      <!-- Inicio Bloque Paginador data previous-->
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}"><<</a>
      </li>
      {% endif %}
      <!-- Fin Bloque Paginador data previous-->
      <!-- Inicio Bloque Paginador data páginas-->
      {% for pagina in paginator.page_range %}
      <!-- Inicio Bloque Paginador data páginas comparador-->
      {% if pagina == page_obj.number %}
      <li><a href="?page={{ pagina }}" class="active">{{ pagina }}</a></li>
      {% else %}
      <li><a href="?page={{ pagina }}">{{ pagina }}</a></li>
      {% endif %}
      <!-- Fin Bloque Paginador data páginas comparador-->
      {% endfor %}
      <!-- Fin Bloque Paginador data páginas-->
      <!-- Inicion Bloque Paginador data siguiente-->
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}">>></a>
      </li>
      <!-- Fin Bloque Paginador data siguiente-->
    </ul>
    {% endif %} {% endif %}
  </div>

  <!-- Fin Bloque Paginador data-->

  <!-- Fin Bloque contenedor data-->
</div>
<!-- Fin Bloque contenedor-->
{% endblock body %}
