<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %} {% load compress %} {% compress css %}
    <link
      type="text/x-scss"
      href="{% static 'base/nav.scss' %}"
      rel="stylesheet"
      media="screen"
    />
    {% endcompress %} {% include '../conmon/tittle.html' %}
  </head>
  <body>
    <nav class="navigator">
      <ul class="navigatorLink">
        <li class="navigatorLinkItem">
          <img
            class="navigatorLinkItemImg"
            src="{% static 'images/Django.png' %}"
            alt=""
          />
        </li>
        <li class="navigatorLinkItem">
          <a href="{% url 'employer_app:ListarTodosLosEmpleados' %}">Listar</a>
        </li>
        <li class="navigatorLinkItem">
          <a href="{% url 'department_app:ListarDepartamentos' %}"
            >Departamentos</a
          >
        </li>
        <li class="navigatorLinkItem">
          <a href="{% url 'department_app:CrearDepartamento' %}"
            >Crear Departamento</a
          >
        </li>
        <li class="navigatorLinkItem">
          <a href="{% url 'employer_app:AdministrarTodosLosEmpleados' %}"
            >Administrar</a
          >
        </li>
      </ul>
      <ul class="navigatorLinkbtn">
        <li class="navigatorLinkItembtn">
          <a href="{% url 'employer_app:CrearEmpleado' %}">Crear empleado</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
